/* search bar */

.search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23); */
}

.search-input-wrapper {
  flex: 1;
  background: #e9e;
  border-bottom:1px solid;
}

.search-bar input {
  width: 100%;
  background:white;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}



.student-list{
  position: relative;
  width:90%;
  top: 130px;
  margin:0 auto;
}
.student-details {
  width:65%;
  margin: 0 auto;
  padding:10px;
  color:black;
  background-color: white ;
}
.student-name{
  font-size: 20px;
  font-weight: bold;
}
.Card{
  background: 'white';
  height: '400px';
  display: 'flex';
  margin-top: 100px;
}
.student-avatar{
  width: 70px;
  height: 70px;
  margin:auto;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  border-radius: 50%;
  flex-shrink: 0;
 
}



